.PostsPage {
  height: 100vh;

  background-color: grey;
  // border: .3vmin solid black;
  border-radius: 2vmin;
  margin-left: 175px;
  flex: 0.4;
  border-right: 1px solid var;
  min-width: 70vw;
  overflow-y: scroll;
}

.PostsPage::-webkit-scrollbar {
  display: none;
}