.UserLogOut {
   
    display: flex;
    flex-direction: column;
    position: right;
    bottom: 20px;
    align-items: center;
    justify-content: center;
    // text-align: center;
 }

 .UserLogOut:hover{
    transition: color 100ms ease-out;
    div {
        display: none;
    }
    button {
        display: block;
    }
 }

 .UserLogOut button {
    border: none;
    color: white ;
    font-weight: 900 ;
    text-transform: inherit ;
    border-radius: 30px ;
    width: 80px;
    height: 40px ;
    // margin-top: 20px;
    // margin-left: auto !important;
    // text-align: center;
    margin: 20px;
    display: none;
}

