.NavBar{
    position: absolute;
    top: 0;
    display: flex;
    // float: left;
    height: 10%;
    width: 100vw;
    // margin-bottom: 5px;
    border: .3vmin solid black;
    justify-content: space-around;
   
    // border-right: 1px solid var(--snatch-background);
    // flex: 0.3;
    // max-width: fit-content; 
    // min-width: 250px;
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: 20px;
    // margin-left: -10px;
    // background-color: black;
    // padding-left: 20px;
    // padding-right: 20px;
    text-align: center;
    
}
