/* CSS Custom Properties */
:root {
    --white: #FFFFFF;
    --pink-1: #f396c6;
    --pink-2: #e086b5;
    --pink-3: #f07cb8;
    --pink-4: #ea52a0;
    --orange: #3d2e37;
    --text-black: #110e0c;
    --text-dark: #615954;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--pink-1);
    padding-top: 100%;
    padding: 2vmin;
    height: 100vh;
    --snatch-color: #f13e79;
  --snatch-background: #e6ecf0;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #root {
    height: 100%;
  }
  
  .align-ctr {
    text-align: center;
  }
  
  .align-rt {
    text-align: right;
  }
  
  .smaller {
    font-size: smaller;
  }
  
  .flex-ctr-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-j-end {
    justify-content: flex-end;
  }
  
  .scroll-y {
    overflow-y: scroll;
  }
  
  /* not on auth page */
  /* .section-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--pink-4);
    color: var(--text-dark);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    padding: .6vmin;
    text-align: center;
    font-size: 2vmin;
  } */
  
  .form-container {
    padding: 3vmin;
    background-color: var(--pink-4);
    border: .1vmin solid var(--pink-3);
    border-radius: 1vmin;
  }
  
  p.error-message {
    color: var(--orange);
    text-align: center;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.25vmin;
    color: var(--text-black);
    
  }
  
  label {
    font-size: 2vmin;
    display: flex;
    align-items: center;
  }
  
  input {
    padding: 1vmin;
    font-size: 2vmin;
    border: .1vmin solid var(--pink-3);
    border-radius: .5vmin;
    color: var(--text-dark);
    background-image: none !important; /* prevent lastpass */
    outline: none;
  }
  
  /* input:focus {
    border-color: var(--orange);
  } */
  
  button, a.button {
    background-color: var(--snatch-color) !important;
    border: none !important;
    color: rgb(212, 205, 205) !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
  }
  
  button.btn-sm {
    font-size: 1.5vmin;
    padding: .6vmin .8vmin;
  }
  
  button.btn-xs {
    font-size: 1vmin;
    padding: .4vmin .5vmin;
  }
  
  button:disabled, form:invalid button[type="submit"] {
    cursor: not-allowed;
    background-color: var(--pink-4);
  }
  
  button[type="submit"] {
    grid-column: span 2;
    margin: 1vmin 0 0;
  }